{% extends 'base.html.twig' %}

{% block title %}Categorii iesiri{% endblock %}

{% block body %}
    <h1>Categorii iesire</h1>

    <a href="{{ path('expense_index') }}">Iesiri</a> / Categorii

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for expense_category in expense_categories %}
            <tr>
                <td>{{ expense_category.id }}</td>
                <td>{{ expense_category.name }}</td>
                <td>
                    <a href="{{ path('expense_category_show', {'id': expense_category.id}) }}">show</a>
                    <a href="{{ path('expense_category_edit', {'id': expense_category.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('expense_category_new') }}">Create new</a>
{% endblock %}
