{% extends 'base.html.twig' %}

{% block title %}Raport iesiri zilnic{% endblock %}


{% block header %}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
{% endblock %}

{% block body %}
    <h1>Raport ieșiri zilnic</h1>

    <form method="get" class="form-inline">
        <div class="form-group mr-2">
            <select class="form-control" name="month">
                {% for m, name in months %}
                    <option value="{{ m }}" {{ month == m ? 'selected="selected"' }}>{{ name }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group mr-2">
            <select class="form-control" name="year">
                {% for y in years %}
                    <option value="{{ y }}" {{ y == year ? 'selected="selected"' }}>{{ y }}</option>
                {% endfor %}
            </select>
        </div>

        <button class="btn btn-outline-primary">Selectează</button>
    </form>

    <div class="card my-3 p-4">
        <div id="chart"></div>
    </div>

    <div class="card my-3">
        <table class="table table-striped">
            <thead class="card-header card-header-table">
            <tr>
                <th scope="col">Zi</th>
                {% for c in categories %}
                    <th scope="col">{{ c.name }}</th>
                {% endfor %}
            </tr>
            </thead>
            <tbody>
            {% for index, day in monthlyExpenses.days %}
                <tr>
                    <th scope="row">{{ index }}</th>
                    {% for c in categories %}
                        <td>{{ day.categories[c.id] is defined ? day.categories[c.id]|num_for : '–' }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                {% for c in categories %}
                    <td>{{ monthlyExpenses.totalsByCategory[c.id]|num_for|dash }}</td>
                {% endfor %}
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        Highcharts.chart('chart', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'
            },
            title: {
                text: ''
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            },
            accessibility: {
                point: {
                    valueSuffix: '%'
                }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: false
                    },
                    showInLegend: true
                }
            },

            series: [{
                name: 'Iesiri',
                colorByPoint: true,
                data: [
                    {% for c in categories %}
                    {
                        name: '{{ c.name }}',
                        y: {{ monthlyExpenses.percentages[c.id] }},
                        {% if monthlyExpenses.percentages[c.id] == monthlyExpenses.maxPercentage %}
                        sliced: true,
                        selected: true
                        {% endif %}
                    }{{ not loop.last ? ', ' }}
                    {% endfor %}
                ]
            }],

            credits: {
                enabled: false
            }
        });
    </script>
{% endblock %}
