{% extends 'base.html.twig' %}

{% block title %}Raport furnizori{% endblock %}

{% block body %}
    <h1>Raport furnizori</h1>

    <div class="card my-3">
        <table class="table table-striped">
            <thead class="card-header card-header-table">
            <tr>
                <th scope="col">Zi</th>
                <th scope="col">Marfa facturi</th>
                <th scope="col">Marfa bonuri</th>
            </tr>
            </thead>
            <tbody>
            {% for index, day in month.days %}
                <tr>
                    <th scope="row">{{ index }}</th>
                    <td>{{ day.totalMerchandisePaymentsInvoice|num_for|dash }}</td>
                    <td>{{ day.totalMerchandisePaymentsBill|num_for|dash }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td>{{ month.days|total('totalMerchandisePaymentsInvoice') }}</td>
                <td>{{ month.days|total('totalMerchandisePaymentsBill') }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
