{% extends 'base.html.twig' %}

{% block title %}Raport vanzare lunar{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 1200px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper table { width: 100% }
        .example-wrapper table td { border: 1px solid #eaeaea; padding: 3px; }
    </style>

    <div class="example-wrapper">
        <h1>Raport vanzare lunar</h1>

        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Zi</th>
                <th scope="col">Vanzare zi</th>
                <th scope="col">Monetar</th>
                <th scope="col">Iesiri diverse</th>
                <th scope="col">Marfa facturi</th>
                <th scope="col">Marfa bonuri</th>
                <th scope="col">Profit Brut</th>
                <th scope="col">Intrare marfa</th>
            </tr>
            </thead>
            <tbody>
            {% for index, day in month.days %}
                <tr>
                    <th scope="row">{{ index }}</th>
                    <td>{{ day.totalSales|number_format(2)|dash }}</td>
                    <td>{{ day.totalMoney|number_format(2)|dash }}</td>
                    <td>{{ day.totalExpenses|number_format(2)|dash }}</td>
                    <td>{{ day.totalMerchandisePaymentsInvoice|number_format(2)|dash }}</td>
                    <td>{{ day.totalMerchandisePaymentsBill|number_format(2)|dash }}</td>
                    <td>{{ day.totalMerchandiseGrossProfit|number_format(2)|dash }}</td>
                    <td>{{ day.totalMerchandiseEnterValue|number_format(2)|dash }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
