<tr>
    {% set path = expense.id ?
        path('expense_edit', {'id': expense.id }) :
        path('expense_new', {'date': currentDate })
    %}
    {% set mode = expense.id ? 'edit' : 'insert' %}
    <td class="p-0" colspan="4">
        {{ form_start(form) }}
        <table class="table-form">
            <tr>
                <td style="width: 200px;">{{ form_row(form.category) }}</td>
                <td style="width: 70px;">{{ form_row(form.amount) }}</td>
                <td>{{ form_row(form.notes) }}</td>
                <td style="width: 80px;" class="pt-2">
                    <button class="js-save btn btn-sm btn-success align-text-bottom" data-href="{{ path }}" data-mode="{{ mode }}">
                        <i class="fas fa-check"></i></button>

                    <button class="js-close btn btn-sm btn-outline-secondary align-text-bottom" data-mode="{{ mode }}">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
        </table>

        {{ form_end(form) }}
    </td>
</tr>
