{% extends 'base.html.twig' %}

{% block title %}Datorii{% endblock %}

{% block body %}
    <h1>Datorii</h1>

    Datorii / <a href="{{ path('provider_index') }}">Furnizori</a>

    <table class="table">
        <thead>
            <tr>
                <th>Furnizor</th>
                <th>Amount</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for debt in debts %}
            <tr>
                <td>{{ debt.provider.name }}</td>
                <td>{{ debt.amount }}</td>
                <td>{{ debt.date ? debt.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('debt_edit', {'id': debt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('debt_new') }}">Create new</a>
{% endblock %}
