{% extends 'base.html.twig' %}

{% block title %}Money index{% endblock %}

{% block body %}
    <h1>Money index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Amount</th>
                <th>Notes</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for money in monies %}
            <tr>
                <td>{{ money.id }}</td>
                <td>{{ money.amount }}</td>
                <td>{{ money.notes }}</td>
                <td>{{ money.date ? money.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('money_show', {'id': money.id}) }}">show</a>
                    <a href="{{ path('money_edit', {'id': money.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('money_new') }}">Create new</a>
{% endblock %}
