<div class="row mb-3">
    <div class="col-6">
        <h3 class="d-inline-block m-0">
            {{ include('blocks/_date.html.twig') }}
        </h3>

        <form id="js-change-day-form" class="d-none" action="{{ path('day') }}" method="post">
            <input id="js-change-day-date" name="date" type="hidden" value="" />
        </form>

        <button id="js-change-day-datepicker" class="btn btn-outline-secondary btn-sm align-top">
            <i class="fas fa-calendar" aria-hidden="true"></i>
        </button>
    </div>
    <div class="col-6 text-right">
        {% if day is not null %}
            <i class="far fa-clock"></i> {{ day.startedAt|date('H:i') }}
            {{ day.endedAt ? ' - ' ~ day.endedAt|date('H:i') }}
        {% endif %}
    </div>
</div>

{% if day is not null %}
    {{ include('blocks/_totals.html.twig') }}
{% endif %}
