<div class="row">
    <div class="col-12">
        <ul id="summary" class="list-group list-group-horizontal w-100">
            <li class="list-group-item">
                Sold actual
                <span>{{ totals.balance|num_for }}</span>
            </li>
            <li class="list-group-item">
                Intrare marfă
                <span>{{ totals.merchandise|num_for }}</span>
            </li>
            <li class="list-group-item">
                Profit marfă
                <span>{{ totals.profit|num_for }}</span>
            </li>
            <li class="list-group-item">
                Ieșiri diverse
                <span>{{ totals.expenses|num_for }}</span>
            </li>
            <li class="list-group-item">
                Marfă bonuri
                <span>{{ totals.payments_bill|num_for }}</span>
            </li>
            <li class="list-group-item">
                Marfă facturi
                <span>{{ totals.payments_invoice|num_for }}</span>
            </li>
            <li class="list-group-item">
                Monetar
                <span>{{ totals.money|num_for }}</span>
            </li>
        </ul>
    </div>
</div>
