<div class="row">
    <div class="col-12">
        <ul id="summary" class="list-group list-group-horizontal w-100">
            <li class="list-group-item">
                Sold actual
                <span class="total">{{ totals.balance|num_for }} <small>RON</small></span>
                <small>Precedent: {{ totals.balance_previous|num_for }}</small>
            </li>
            <li class="list-group-item">
                Intrare marfă
                <span class="total">{{ totals.merchandise|num_for }} <small>RON</small></span>
                <small>
                    Profit brut: {{ totals.profit|num_for }}
                    <span class="text-muted">({{ (totals.profit / totals.merchandise * 100) | num_for }}%)</span>
                </small>
            </li>
            <li class="list-group-item">
                Marfă achitată
                <span class="total">{{ (totals.payments_bill + totals.payments_invoice)|num_for }} <small>RON</small></span>
                <span class="badge badge-bonuri" data-toggle="tooltip" title="Bonuri">{{ totals.payments_bill|num_for }}</span>
                <span class="badge badge-facturi" data-toggle="tooltip" title="Facturi">{{ totals.payments_invoice|num_for }}</span>
            </li>
            <li class="list-group-item">
                Total zi
                <span class="total">{{ totals.day|num_for }} <small>RON</small></span>
                <span class="badge badge-secondary" data-toggle="tooltip" title="Monetar">{{ totals.money|num_for }}</span>
                <span class="badge badge-dark" data-toggle="tooltip" title="Ieșiri diverse">{{ totals.expenses|num_for }}</span>
            </li>
        </ul>
    </div>
</div>
