{% extends 'base.html.twig' %}

{% block title %}Raport lunar{% endblock %}

{% block body %}
    <h1>Raport lunar</h1>

    <div class="card my-3">
        <table class="table table-striped">
            <thead class="card-header card-header-table">
            <tr>
                <th scope="col">Luna</th>
                <th scope="col">Vanzare zi</th>
                <th scope="col">Monetar</th>
                <th scope="col">Iesiri diverse</th>
                <th scope="col">Marfa facturi</th>
                <th scope="col">Marfa bonuri</th>
                <th scope="col">Profit Brut</th>
            </tr>
            </thead>
            <tbody>
            {% for month, data in data %}
                <tr>
                    <th scope="row">{{ month }}</th>
                    <td>{{ data.sales|num_for|dash }}</td>
                    <td>{{ data.money|num_for|dash }}</td>
                    <td>{{ data.expenses|num_for|dash }}</td>
                    <td>{{ data.payments_invoice|num_for|dash }}</td>
                    <td>{{ data.payments_bill|num_for|dash }}</td>
                    <td>{{ data.profit|num_for|dash }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td>{{ data|total('sales') }}</td>
                <td>{{ data|total('money') }}</td>
                <td>{{ data|total('expenses') }}</td>
                <td>{{ data|total('payments_invoice') }}</td>
                <td>{{ data|total('payments_bill') }}</td>
                <td>{{ data|total('profit') }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}
