<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Magazin{% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/all.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/datepicker.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/app.css') }}">
</head>
<body>
{% set route = app.request.attributes.get('_route') %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{ path('day') }}">Magazin</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            <li class="nav-item {{ route == 'day' ? 'active' }}">
                <a class="nav-link" href="{{ path('day') }}">Foaia zilei <span class="sr-only">(curent)</span></a>
            </li>

            <li class="nav-item {{ route == 'monthly_situation' ? 'active' }}">
                <a href="{{ path('monthly_situation') }}" class="nav-link">Situatia lunară</a>
            </li>

            <li class="nav-item {{ route == 'provider_debt_index' ? 'active' }}">
                <a href="{{ path('provider_debt_index') }}" class="nav-link">Furnizori</a>
            </li>

            {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item {{ route == 'log' ? 'active' }}">
                    <a href="{{ path('log') }}" class="nav-link">Istoric</a>
                </li>
            {% endif %}

            <li class="nav-item dropdown {{ 'category' in route ? 'active' }}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategoriesLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categorii
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownCategoriesLink">
                    <a class="dropdown-item {{ route == 'expense_category_index' ? 'disabled' }}" href="{{ path('expense_category_index') }}">Ieșiri</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a class="dropdown-item {{ route == 'merchandise_category_index' ? 'disabled' }}" href="{{ path('merchandise_category_index') }}">Intrare marfă</a>
                    {% endif %}
                </div>
            </li>

            <li class="nav-item dropdown {{ 'report' in route ? 'active' }}">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Rapoarte
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <h6 class="dropdown-header">Pe zile</h6>
                    <a class="dropdown-item {{ route == 'report_sales' ? 'disabled' }}" href="{{ path('report_sales') }}">Vânzări</a>
                    <a class="dropdown-item {{ route == 'report_expenses' ? 'disabled' }}" href="{{ path('report_expenses') }}">Ieșiri</a>
                    <a class="dropdown-item {{ route == 'report_providers' ? 'disabled' }}" href="{{ path('report_providers') }}">Furnizori</a>
                    <a class="dropdown-item {{ route == 'report_merchandise' ? 'disabled' }}" href="{{ path('report_merchandise') }}">Marfă</a>
                    <div class="dropdown-divider"></div>

                    {% if is_granted('ROLE_ADMIN') %}
                        <h6 class="dropdown-header">Pe luni</h6>
                        <a class="dropdown-item {{ route == 'monthly_report' ? 'disabled' }}" href="{{ path('monthly_report') }}">General</a>
                        <a class="dropdown-item {{ route == 'monthly_expenses_report' ? 'disabled' }}" href="{{ path('monthly_expenses_report') }}">Categorii ieșiri</a>
                        <div class="dropdown-divider"></div>

                        <h6 class="dropdown-header">Pe ani</h6>
                        <a class="dropdown-item {{ route == 'annual_report' ? 'disabled' }}" href="{{ path('annual_report') }}">General</a>
                        <a class="dropdown-item {{ route == 'annual_expenses_report' ? 'disabled' }}" href="{{ path('annual_expenses_report') }}">Categorii ieșiri</a>
                    {% endif %}
                </div>
            </li>
        </ul>
    </div>

    <!-- #TODO search form, mergi la masa, mergi la marfa & dropdown for user to logout (numele utilizatorului) -->
</nav>

<div class="container pt-3">
    {% block body %}{% endblock %}

    {{ include('_messages.html.twig') }}
</div>

<script src="{{ asset('js/jquery-3.5.1.min.js') }}"></script>
<script src="{{ asset('js/popper.min.js') }}"></script>
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
<script src="{{ asset('js/datepicker.min.js') }}"></script>
<script src="{{ asset('js/app.js') }}"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $('#js-change-day-datepicker').datepicker(
            'update',
            '{{ currentDate is defined ? currentDate|date('Y-m-d') : 'now'|date('Y-m-d') }}'
        );
    });
</script>
{% block js %}{% endblock %}
</body>
</html>
