{% extends 'base.html.twig' %}

{% block title %}Foaia zilei{% endblock %}

{% block body %}
    {{ 'now'|roDate('EEEE')|capitalize }}, {{ 'now'|date("j") }} {{ 'now'|roDate('MMMM') }} {{ 'now'|date("H:i") }}

    {# TODO arata filtru pentru selectie data #}
    {# TODO situatia actuala boxes ca in Refactoring UI #}
    <hr>

    {% if day %}
        <p>show module for previous day, review and correct, then mark as revied</p>
        <p>show module for current day</p>
    {% else %}
        {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="row">
            <div class="col">
                {{ form_row(form.bills_50) }}
            </div>
            <div class="col">
                {{ form_row(form.bills_100) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
