{% extends 'base.html.twig' %}

{% block title %}Foaia zilei{% endblock %}

{% block body %}
    {% if day %}
        {{ render(controller(
            'App\\Controller\\DayController::day',
            {
                'date': day.isConfirmed ? 'now'|date('Y-m-d') : 'yesterday'|date('Y-m-d'),
                'review': day.isConfirmed ? 'false' : 'true'
            }
        )) }}
    {% else %}
        {{ form_start(form) }}

        {{ form_errors(form) }}

        <div class="row">
            <div class="col">
                {{ form_row(form.bills_50) }}
            </div>
            <div class="col">
                {{ form_row(form.bills_100) }}
            </div>
        </div>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
