{% extends 'base.html.twig' %}

{% block title %}Foaia zilei{% endblock %}

{% block body %}
    {{ include('blocks/_day_header.html.twig', { 'date': currentDate, 'totals': transactions['totals'] }) }}

    <div class="row">
        <div class="col-6">
            {{ include('merchandise_payment/list.html.twig', { payments: transactions['payments'] }) }}
        </div>
        <div class="col-6">
            {{ include('expense/list.html.twig', { expenses: transactions['expenses'] }) }}
            {{ include('money/list.html.twig', { money: transactions['money'] }) }}
            {{ include('debt/list.html.twig', { debts: transactions['debts'] }) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            {{ include('merchandise/list.html.twig', { providers: transactions['providers'] }) }}
        </div>
    </div>

    {% if day and day.isToday and day.hasEnded == false %}
        {% if showReview %}
            {{ include('debt/list.html.twig', { debts: transactions['debts'] }) }}
            <p>Lista distribuitori</p>

            <p>Form bani 50 si 100 + Z + Send button</p>
        {% else %}
            <div class="mb-3">
                <a class="btn btn-primary" href="{{ path('day', {'showReview': true}) }}">Închide ziua</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
