{% extends 'base.html.twig' %}

{% block title %}Foaia zilei{% endblock %}

{% block body %}
    {{ include('blocks/_day_header.html.twig', { 'date': currentDate, 'totals': transactions['totals'] }) }}

    {% if closeAlert %}
    <div class="alert alert-danger">Nu uita să închizi ziua înainte să pleci!</div>
    {% endif %}

    <div class="row">
        <div class="col-6">
            {{ include('merchandise_payment/list.html.twig', { payments: transactions['payments'] }) }}
        </div>
        <div class="col-6">
            {{ include('expense/list.html.twig', { expenses: transactions['expenses'] }) }}
            {{ include('money/list.html.twig', { money: transactions['money'] }) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            {{ include('merchandise/list.html.twig', { providers: transactions['providers'] }) }}
        </div>
    </div>

    {% if day and day.isToday and day.hasEnded == false %}
        {% if showReview %}
            {{ form_start(form) }}
            {{ form_errors(form) }}
            <p>Completează câți bani sunt în casă la sfârșitul zilei.</p>

            <div class="row">
                <div class="col-3">
                    {{ form_row(form.bills_50_end) }}
                </div>
                <div class="col-3">
                    {{ form_row(form.bills_100_end) }}
                </div>
                <div class="col-3">
                    {{ form_row(form.z) }}
                </div>
                <div class="col-3">
                    {{ form_row(form.debt) }}
                </div>
            </div>

            {% if form.orderProviders is defined %}
                <div class="row">
                    <div class="col-6">
                        {{ form_row(form.orderProviders) }}
                    </div>
                    <div class="col-6">
                        {{ form_row(form.paidProviders) }}
                    </div>
                </div>
            {% endif %}

            {{ form_end(form) }}
        {% else %}
            <div class="mb-3">
                <a class="btn btn-primary" href="{{ path('day', {'showReview': true}) }}">Închide ziua</a>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
