{% extends 'base.html.twig' %}

{% block title %}Foaia zilei{% endblock %}

{% block body %}
    <h2>
        Începe ziua de astăzi
        <small class="text-secondary">{{ include('blocks/_date.html.twig', {'date': 'now'|date}) }}</small>
    </h2>

    <p>
        Verifică toate acțiunile ultimei zile: <strong>{{ include('blocks/_date.html.twig', {'date': day.date}) }}</strong>.
        Dacă sesizezi erori, poți corecta datele.
    </p>

    {{ include('blocks/_totals.html.twig') }}

    <div class="row mt-3">
        <div class="col-6">
            {{ include('merchandise_payment/list.html.twig', { payments: transactions['payments'] }) }}
            {{ include('expense/list.html.twig', { expenses: transactions['expenses'] }) }}
        </div>
        <div class="col-6">
            {{ include('money/list.html.twig', { money: transactions['money'] }) }}
            {{ include('debt/list.html.twig', { debts: transactions['debts'] }) }}
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12">
            {{ include('merchandise/list.html.twig', { merchandises: transactions['merchandises'] }) }}
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_errors(form) }}
    <p>Completează câți bani sunt în casă.</p>

    <div class="row">
        <div class="col">
            {{ form_row(form.bills_50_start) }}
        </div>
        <div class="col">
            {{ form_row(form.bills_100_start) }}
        </div>
    </div>

    {{ form_end(form) }}
{% endblock %}
