{% extends 'base.html.twig' %}

{% block title %}Furnizori{% endblock %}

{% block body %}
    <h1>Furnizori</h1>

    <a href="{{ path('debt_index') }}">Datorii</a> / Furnizori

    <table class="table">
        <thead>
            <tr>
                <th>Nume</th>
                <th>Agent</th>
                <th>Mobil</th>
                <th>CUI</th>
                <th>Localitate</th>
                <th>Telefon</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for provider in providers %}
            <tr>
                <td>{{ provider.name }}</td>
                <td>{{ provider.agent }}</td>
                <td>{{ provider.mobileNumber }}</td>
                <td>{{ provider.cui }}</td>
                <td>{{ provider.town }}</td>
                <td>{{ provider.phoneNumber }}</td>
                <td>
                    <a href="{{ path('provider_edit', {'id': provider.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('provider_new') }}">Create new</a>
{% endblock %}
