{% extends 'base.html.twig' %}

{% block title %}Adaugă furnizor{% endblock %}

{% block body %}
    <h1>
        Adaugă furnizor
        <small><a href="{{ path('provider_index') }}">înapoi la listă</a></small>
    </h1>

    <div>
        {{ form_start(form) }}
            {{ include('provider/_form.html.twig') }}
            <button class="btn btn-primary">{{ 'Save'|trans }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
