<tr>
    <td>{{ m.category }}</td>
    <td>{{ m.name }}</td>
    <td style="width: 100px">{{ m.amount|num_for }}</td>
    <td>{{ m.enterPrice }}</td>
    <td>{{ m.exitPrice }}</td>
    {% if canModify %}
        <td style="width: 100px;">
            {{ include('blocks/_edit_button.html.twig', { href: path('merchandise_edit', {'id': m.id }) }) }}
            {{ include('blocks/_delete_button.html.twig', { route: 'merchandise_delete', 'id': m.id, item: 'intrarea' }) }}
        </td>
    {% endif %}
</tr>
