<h3>Intrare marfă
    <small>
        <a href="#providersMerchandise" class="text-muted" data-toggle="collapse"
           role="button" aria-expanded="false" aria-controls="providersMerchandise"
        >ascunde</a>
    </small>
</h3>

<div id="providersMerchandise" class="collapse show">
    {% if canModify %}
    <div class="mb-3">
        <button class="js-add-merchandise btn btn-outline-primary" type="button"
        data-route="{{ path('merchandise_new', {'includeProvider': 'true', 'date': currentDate|date('Y-m-d')}) }}">Adaugă la furnizor nou</button>

        <div class="collapse mt-3" id="merchandiseForm">
            <div class="card card-body"></div>
        </div>
    </div>
    {% endif %}


    {% for p in providers %}
        <div class="js-unverified card mb-2">
            {% set m = p.merchandises[0] %}
            <div class="card-header">{{ p.name }}
                <span class="badge badge-secondary badge-pill">{{ m.isDebt ? 'Datorie' : 'Cu plată' }}</span>
                <span class="badge badge-secondary badge-pill">{{ m.paidWithBill == 1 ? 'Bon' : 'Factură' }}</span>
                {% if m.vat %}<span class="badge badge-secondary badge-pill">{{ m.vat }}%</span>{% endif %}
            </div>

            <table class="js-main table table-striped" style="border-top: none;">
                <thead>
                <tr>
                    <th style="width: 200px;" class="d-none d-md-table-cell">Categorie</th>
                    <th>Nume</th>
                    <th style="width: 120px;"><span class="d-none d-md-inline">Cantitate</span><span class="d-inline d-md-none">C.</span></th>
                    <th style="width: 150px;"><span class="d-none d-md-inline">Preț intrare</span><span class="d-inline d-md-none">P.I.</span></th>
                    <th style="width: 150px;"><span class="d-none d-md-inline">Preț ieșire</span><span class="d-inline d-md-none">P.E.</span></th>
                    {% if canModify %}<th class="d-none d-md-table-cell"></th>{% endif %}
                </tr>
                </thead>
                <tbody>
                {% for m in p.merchandises %}
                    {{ include('merchandise/_merchandise.html.twig') }}
                {% else %}
                    <tr class="js-empty"><td colspan="6">Nu s-a găsit nici o intrare de marfă.</td></tr>
                {% endfor %}

                {% if p.merchandises|length > 0 %}
                    <tr class="total d-none d-md-table-row">
                        <td colspan="3">
                            <strong>Profit</strong>: {{ p.totalGrossProfit|num_for }}
                            <span class="text-muted">({{ p.totalGrossProfitPercent|num_for(1) }}%)</span>
                        </td>
                        <td colspan="1">{{ p.totalEnterAmount|num_for }}</td>
                        <td colspan="2">{{ p.totalExitAmount|num_for }}</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>

            <div class="card-footer text-right">
                {% if showReview %}
                    <button class="js-review btn btn-sm btn-success">
                        <i class="fas fa-check"></i> verificat</button>
                {% endif %}

                {% if canModify %}
                    <a class="js-add btn btn-sm btn-outline-primary"
                       href="{{ path('merchandise_new', { 'date': currentDate|date('Y-m-d'), 'provider': p.id }) }}">adaugă</a>

                    {% for id, code in p.merchandises|unique_categories %}
                        <a class="js-add btn btn-sm btn-outline-primary"
                           href="{{ path('merchandise_new', { 'date': currentDate|date('Y-m-d'), 'provider': p.id, 'category': id }) }}">{{ code }}</a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

    {% else %}
        <p>Nu s-a găsit nici o intrare de marfă.</p>
    {% endfor %}
</div>
