{% extends 'base.html.twig' %}

{% block title %}Merchandise{% endblock %}

{% block body %}
    <h1>Merchandise</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>EnterPrice</th>
                <td>{{ merchandise.enterPrice }}</td>
            </tr>
            <tr>
                <th>ExitPrice</th>
                <td>{{ merchandise.exitPrice }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ merchandise.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ merchandise.name }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ merchandise.date ? merchandise.date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ merchandise.amount }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('merchandise_index') }}">back to list</a>

    <a href="{{ path('merchandise_edit', {'id': merchandise.id}) }}">edit</a>

    {{ include('merchandise/_delete_form.html.twig') }}
{% endblock %}
