{% extends 'base.html.twig' %}

{% block title %}Categorii marfa{% endblock %}

{% block body %}
    <h1>Categorii marfa</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Cod</th>
                <th>Nume</th>
                <th>Intrări</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for merchandise in merchandise_categories %}
            <tr>
                <td>{{ merchandise['category'].code }}</td>
                <td>{{ merchandise['category'].name }}</td>
                <td>{{ merchandise.total }}</td>
                <td>
                    <a href="{{ path('merchandise_category_edit', {'id': merchandise['category'].id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('merchandise_category_new') }}">Create new</a>
{% endblock %}
