{% extends 'base.html.twig' %}

{% block title %}Raport anual{% endblock %}

{% block header %}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
{% endblock %}

{% block body %}
    <h1>Raport anual</h1>

    <div class="card my-3 p-4">
        <div id="chart"></div>
    </div>

    <div class="card my-3">
        <table class="table table-striped">
            <thead class="card-header card-header-table">
            <tr>
                <th scope="col">Zi</th>
                <th scope="col">Vanzare zi</th>
                <th scope="col">Monetar</th>
                <th scope="col">Iesiri diverse</th>
                <th scope="col">Marfa facturi</th>
                <th scope="col">Marfa bonuri</th>
                <th scope="col">Profit Brut</th>
            </tr>
            </thead>
            <tbody>
            {% for year, data in data %}
                <tr>
                    <th scope="row">{{ year }}</th>
                    <td>{{ data.sales|num_for|dash }}</td>
                    <td>{{ data.money|num_for|dash }}</td>
                    <td>{{ data.expenses|num_for|dash }}</td>
                    <td>{{ data.payments_invoice|num_for|dash }}</td>
                    <td>{{ data.payments_bill|num_for|dash }}</td>
                    <td>{{ data.profit|num_for|dash }}</td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td>{{ data|total('sales') }}</td>
                <td>{{ data|total('money') }}</td>
                <td>{{ data|total('expenses') }}</td>
                <td>{{ data|total('payments_invoice') }}</td>
                <td>{{ data|total('payments_bill') }}</td>
                <td>{{ data|total('profit') }}</td>
            </tr>
            </tfoot>
        </table>
    </div>
{% endblock %}

{% block js %}
    <script>
        Highcharts.chart('chart', {
            title: {
                text: ''
            },
            subtitle: {
                text: ''
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            legend: {
                layout: 'horizontal',
                align: 'center',
                verticalAlign: 'bottom'
            },
            plotOptions: {
                series: {
                    pointPlacement: 'on'
                }
            },
            xAxis: {
                categories: [{% for index, year in years|reverse %}'{{ year }}'{{ not loop.last ? ', ' }}{% endfor %}]
            },

            series: [{
                name: 'Vanzare zi',
                data: [{% for year, data in data|reverse %}{{ data.sales|num_for(0, '') }}{{ not loop.last ? ', ' }}{% endfor %}]
            }, {
                name: 'Monetar',
                data: [{% for year, data in data|reverse %}{{ data.money|num_for(0, '') }}{{ not loop.last ? ', ' }}{% endfor %}]
            }, {
                name: 'Iesiri diverse',
                data: [{% for year, data in data|reverse %}{{ data.expenses|num_for(0, '') }}{{ not loop.last ? ', ' }}{% endfor %}]
            }, {
                name: 'Marfa facturi',
                data: [{% for year, data in data|reverse %}{{ data.payments_invoice|num_for(0, '') }}{{ not loop.last ? ', ' }}{% endfor %}]
            }, {
                name: 'Marfa bonuri',
                data: [{% for year, data in data|reverse %}{{ data.payments_bill|num_for(0, '') }}{{ not loop.last ? ', ' }}{% endfor %}]
            }, {
                name: 'Profit Brut',
                data: [{% for year, data in data|reverse %}{{ data.profit|num_for(0, '') }}{{ not loop.last ? ', ' }}{% endfor %}]
            }],

            credits: {
                enabled: false
            }
        });
    </script>
{% endblock %}
