<tr>
    {% set path = payment.id ?
        path('merchandise_payment_edit', {'id': payment.id }) :
        path('merchandise_payment_new', {'date': currentDate })
    %}
    {% set mode = payment.id ? 'edit' : 'insert' %}
    <td class="p-0" colspan="4">
        {{ form_start(form) }}
        <table class="table-form">
            <tr>
                <td>{{ form_row(form.provider) }}</td>
                <td>{{ form_row(form.paymentType) }}</td>
                <td style="width: 100px">{{ form_row(form.amount) }}</td>
                <td class="pt-2">
                    <button class="js-save btn btn-sm btn-success align-text-bottom" data-href="{{ path }}" data-mode="{{ mode }}">
                        <i class="fas fa-check"></i></button>

                    <button class="js-close btn btn-sm btn-outline-secondary align-text-bottom" data-mode="{{ mode }}">
                        <i class="fas fa-times"></i>
                    </button>
                </td>
            </tr>
        </table>

        {{ form_end(form) }}
    </td>
</tr>
