{% extends 'base.html.twig' %}

{% block title %}MerchandisePayment index{% endblock %}

{% block body %}
    <h1>MerchandisePayment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Id</th>
                <th>Amount</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for merchandise_payment in merchandise_payments %}
            <tr>
                <td>{{ merchandise_payment.type }}</td>
                <td>{{ merchandise_payment.id }}</td>
                <td>{{ merchandise_payment.amount }}</td>
                <td>{{ merchandise_payment.date ? merchandise_payment.date|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('merchandise_payment_show', {'id': merchandise_payment.id}) }}">show</a>
                    <a href="{{ path('merchandise_payment_edit', {'id': merchandise_payment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('merchandise_payment_new') }}">Create new</a>
{% endblock %}
