<div class="card">
    <div class="card-header">Marfă achitată</div>

    {% if payments|length > 0 %}
        <table class="table table-striped" style="border-top: none;">
            <thead>
            <tr>
                <th></th>
                <th>Furnizor</th>
                <th>Plată</th>
                <th>Cantitate</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for p in payments %}
                <tr>
                    <td width="50">{{ loop.index }}</td>
                    <td>{{ p.provider.name }}</td>
                    <td><span class="badge badge-{{ p.typeLabel }}">{{ p.typeLabel }}</span></td>
                    <td>{{ p.amount|num_for }}</td>
                    <td style="width: 100px;">
                        {{ include('blocks/_edit_button.html.twig', { href: path('merchandise_payment_edit', {'id': p.id}) }) }}
                        {{ include('blocks/_delete_button.html.twig', { route: 'merchandise_payment_delete', 'id': p.id, item: 'plata' }) }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="card-body">Nu s-a achitat nici o marfă.</p>
    {% endif %}

    {% if canModify %}
        <div class="card-footer text-right">
            <a class="btn btn-sm btn-outline-primary" href="{{ path('merchandise_payment_new') }}">adaugă</a>
        </div>
    {% endif %}
</div>
