{% extends 'base.html.twig' %}

{% block title %}MerchandisePayment{% endblock %}

{% block body %}
    <h1>MerchandisePayment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Type</th>
                <td>{{ merchandise_payment.type }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ merchandise_payment.id }}</td>
            </tr>
            <tr>
                <th>Amount</th>
                <td>{{ merchandise_payment.amount }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ merchandise_payment.date ? merchandise_payment.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('merchandise_payment_index') }}">back to list</a>

    <a href="{{ path('merchandise_payment_edit', {'id': merchandise_payment.id}) }}">edit</a>

    {{ include('merchandise_payment/_delete_form.html.twig') }}
{% endblock %}
